<% layout('base') -%>
<div class="container">
    <h1 class="my-4 text-center text-primary">Orders</h1>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-sm-9 text-dark">
                    <h4><strong>List Orders</strong></h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="sample_data">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Cart</th>
                            <th>CreatedAt</th>
                            <th>Status</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<script src="/js/order.js"></script>